<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="humarahimachal.online">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.WildLifeSantuaryActivity"
            android:parentActivityName=".UI.GeographicActivity" />
        <activity
            android:name=".UI.HydroProjectActivity"
            android:parentActivityName=".UI.GeographicActivity" />
        <activity
            android:name=".UI.TempleActivity"
            android:parentActivityName=".UI.GeographicActivity" />
        <activity
            android:name=".UI.RiverActivity"
            android:parentActivityName=".UI.GeographicActivity" />
        <activity
            android:name=".UI.GeographicActivity"
            android:parentActivityName=".UI.About_Himachal_Activity" />
        <activity
            android:name=".UI.Himachal_At_Glance_Activity"
            android:parentActivityName=".UI.About_Himachal_Activity" />
        <activity
            android:name=".UI.Himachal_History_Activity"
            android:parentActivityName=".UI.About_Himachal_Activity" />
        <activity android:name=".UI.DistrictActivity"
            android:parentActivityName=".UI.HomePage"
            />
        <activity
            android:name=".UI.About_Himachal_Activity"
            android:parentActivityName=".UI.HomePage" />
        <activity android:name=".UI.HomePage" />
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity
            android:name=".UI.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>